<p>Buongiorno,</p>

<p> 
La informiamo che in data <%= l @expiration_date %>
scadrà il suo accesso all'applicativo AlmaRusco per 
operare a nome di <%= @producer %> presso 
l'unità locale <%= @organization %>.
</p>

<p style="margin-top: 24px; ">
Per qualunque domanda o per estendere la durata del suo accesso
può contattare i responsabili dell'unità locale sopra indicata.
</p>

<p>
Cordiali saluti
</p>
