<h1>Registri</h1>

<ul class="list-group my-2">
  <% @registers.each do |register| %>
    <li class="list-group-item"><%= register %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Aggiungi un registro", new_register_path, class: "btn btn-primary" %>
</div>

