<h1>Modifica tipologia di rifiuti</h1>

<div class="alert alert-warning">
  È ancora possibile modificare le tipologie in modo da permettere di scegliere le omologhe 
  e sistemare gli errori. Ricordate che le mofifiche saranno valide per tutti i rifiuti associati a 
  questa tipologia. Anche quelli passati.<br/>
  Consigliamo sempre di creare una nuova tipologia e rendere nascosta quella precedente.
</div>

<% if (compliance = @disposal_type.compliance) %>
  <div class="alert alert-warning">
    Tipologia di rifiuti associata a <strong>omologa</strong>
    <%= link_to compliance, [compliance, modal: 1], data: {turbo_frame: "modal"}, class: "underline" %>
    del <%= compliance.year %>.<br/>
    Non è possibile cambiare l'omologa associata ma potete creare una nuova tipologia 
    (ed eventualmente rendere questa nascosta).
  </div>
<% end %>

<%= render partial: 'form' %>  

