<h1>Tipologie rifiuti <br/><small><%= current_organization %></small></h1>

<% if policy(current_organization).manage? %>  
  <div class="centered">
    <%= link_to 'NUOVA TIPOLOGIA', new_disposal_type_path, class: 'button' %>  
  </div>
<% end %>


<div class="row">
  <% @disposal_types.each do |disposal_type| %>  
    <div class="col-6 col-md-4">
      <%= render disposal_type, editable: true %>
    </div>
  <% end %>
</div>
