<h1>Tipologie di rifiuti</h1>

<div class="alert alert-warning" role="alert">
  Le tipologie di rifiuti sono relative alla vostra struttura - <%= current_organization %>.
</div>

<% if policy(current_organization).manage? %>  
  <div class="centered my-2">
    <%= link_to 'Aggiungi una nuova tipologia di rifiuti', new_disposal_type_path, class: 'button' %>  
  </div>
<% end %>


<div class="row">
  <% @disposal_types.each do |disposal_type| %>  
    <div class="col-6 col-md-6">
      <%= render disposal_type, editable: policy(disposal_type).edit? %>
    </div>
  <% end %>
</div>
