<h1>Accesso ad AlmaRusco</h1>

<% if ! current_organization %>  
  <div class="alert alert-danger">
    <p>Sei loggato come <%= current_user %>.</p>

    <p>
    Per accedere all'applicativo richiedi ai resposabili
    della tua unità locale di essere <strong>abilitato</strong> e di fornirti 
    <strong>l'indirizzo corretto</strong>.
    </p>

    <p>
      Ricordiamo che l'indirizzo deve essere del tipo: https://www.dm.unibo.it/almarusco/UL123
    </p>
  </div>
<% end %>
