<% if @disposal_type.compliance %>
  <div class="text-success fw-bold">
    Omologa <%= @disposal_type.compliance %>
  </div>
<% end %>
<div>
  <strong>CER:</strong> <%= @disposal_type.cer_code.description.upcase %>
</div>

<% if @disposal_type.un_code %>
  <div>
    <strong>UN:</strong> <%= @disposal_type.un_code.name.upcase %>
  </div>
<% end %>

<div>
  <strong>Stato:</strong> <%= t @disposal_type.physical_state %>
</div>
