<h1>Applicativo per la gestione dei rifiuti speciali</h1>

<div class="alert alert-danger w-75 m-auto">
  <p>Sei loggato come <%= current_user %>.</p>

  <p>
  Per accedere all'applicativo richiedi ai resposabili
  della tua unità locale di essere <strong>abilitato</strong> e di fornirti 
  <strong>l'indirizzo corretto</strong>.
  </p>

  <p>
  Ricordiamo che l'indirizzo deve essere del tipo: https://www.dm.unibo.it/almarusco/UL123
  </p>
</div>
