<%= link_to disposal_path(@disposal, modal: 1), class: "btn btn-outline-secondary mb-2 me-2", style: 'position: relative', data: { turbo_frame: 'modal' } do %>  
  <span class="badge bg-info p-1" style="position: absolute; top: -10px; right: -5px">
    <%= @disposal.id %>
  </span>
  <span class="font-monospace pb-4">   
    <strong><%= @disposal.kgs %></strong><span style="font-size: 70%"> Kg.</span>
    <strong><%= @disposal.volume %></strong><span style="font-size: 70%"> L.</span>
  </span>
<% end %>
