<h1>Documento (formulario)</h1>

<%= render partial: 'form' %>  

<h2>Rifiuti associati</h2>

<% @picking_document.disposals.each do |disposal| %>  
  <%= render Disposal::BadgeComponent.new(current_user, disposal) %>  
<% end %>

<%= render Disposal::GroupDetailsComponent.new(@picking_document.disposals) %>  
