@import "variables";
@import "dm";
@import "tables";
@import "moves";

body {
  color: rgb(62, 62, 62);
}

a {
  text-decoration: none;
}
.actual-number {
  @extend .badge;
  @extend .float-right;
  font-size: 100%;
  &.empty { @extend .bg-danger; }
  &.full  { @extend .bg-success; }
}
.number {
  text-align: right;
}

#search_string {
  @extend .form-control;
  width: 30ex;
}

input.choosen_dsauser {
  @extend .form-control;
  width: 30em;
}

.help-main {
  font-size: 14px;
  li {
   list-style-type: circle; 
  }
}

input.numeric-cents {
  width: 4em;
}

span.twitter-typeahead {
  .tt-menu {
    @extend .dropdown-menu;
  }

  .tt-suggestion {
    @extend .dropdown-item;
  }

  .tt-suggestion.tt-cursor {
    @extend .dropdown-item, .active;
  }

  .input-group & {
    display: flex !important;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    width: 1%;

    .tt-menu, .tt-hint, .tt-input {
      width: 100%;
    }
  }
}

.href-card {
  display: block;
  color: black;
  &:hover {
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

form.status_selector {
  input {
    display: none;
  }
  label {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-outline-info;
    @extend .btn-block;

  }
  input:checked + label {
    @extend .btn-info;
    @extend .text-white;
  }
}
form.disposal_type_selector {
  input {
    display: none;
  }
  label {
    @extend .btn;
    @extend .btn-outline-info;

  }
  input:checked + label {
    @extend .btn-info;
    @extend .text-white;
  }
}

.help {
  h2, h3, h4 {
    color: green;
  }
  p {
    margin-left: 6px;
    color: #333;
  }
  li {
    list-style-type: square;
  }
}
