<div class="alert alert-info my-4">
  <% if @disposal_types.any? %>  
    <%= @supplier.name.upcase %> è in contratto per:

    <ul class="my-2">
      <% @disposal_types.each do |disposal_type| %>  
        <li class="small"><%= disposal_type %> <%= disposal_type.hp_codes_to_s %>  </li>
      <% end %>
    </ul>
  <% else %>  
    Non ci sono tipologie di rifiuti nella vostra UL associate al fornitore.
  <% end %>
</div>

