<h1 class="h1">
  AlmaRUSCO <br/>
  <small>Applicazione per la tracciabilità dei rifiuti</small>
</h1>

<% if current_user %>
  <h2 class="my-3 text-center">Scegli la UL su cui vuoi operare</h2>

  <div class="row my-4 text-center">
    <% current_user.my_organizations(ordering: :code).each do |o| %>
      <div class="col-sm-6 col-md-2 py-1">
        <%= link_to o.name, disposals_path(__org__: o.code), class: "btn btn-outline-primary btn-lg w-100" %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="text-center my-3">
    <%= login_link_title %>
    <%= login_link(btn: true) %>
  </div>
<% end %>

<div class="alert alert-light my-3">
  <%= Rails.configuration.unibo_common.home_description.html_safe %>
</div>
