<h1>
  Codici CER
</h1>

<div class="alert alert-warning" role="alert">
  I codici CER sono <b>comuni a tutte le strutture</b>.<br/>
  Vi preghiamo di inserire/aggiornare questi dati con cura.
</div>

<div class="centered my-4">
  <%= link_to 'Aggiungi nuovo codice', new_cer_code_path, class: 'btn btn-primary' %>  
</div>


<div class="list-group">
  <% @cer_codes.each do |cc| %>  
    <%= link_to [:edit, cc], class: "list-group-item list-group-item-action" do %>
      <strong><%= cc %></strong> <br/>
      <span class="float-right small"><%= cc.description %></span>
    <% end %>
  <% end %>
</div>
