<%= render "form" %>

<h2>Componenti</h2>

<%= render 'components', component_details: @disposal_description.component_details %>

<%= link_to "AGGIUNGI NUOVO COMPONENTE", [:new, @disposal_description, :component_detail], class: "my-2 btn btn-primary" %>
