<h1>SCHEDA DESCRITTIVA RIFIUTO (SDR)</h1>

<div class="alert alert-info">
DESCRIZIONE DEI RIFIUTI AI FINI DELLO SMALTIMENTO
I rifiuti derivanti dall’attività di laboratorio devono essere raccolti a parte come rifiuti speciali in contenitori chiudibili
ermeticamente, correttamente etichettati (etichetta stampata su carta adesiva modello richiesto al Responsabile
dell’Unità Locale) e consegnati tramite l’apposito verbale di consegna al Responsabile dell’Unità Locale per avviarli
allo smaltimento.
NOTA: Compilare la Tabella1, individuando le tipologie di rifiuto (rifiuto1, rifiuto 2…) prodotti nella propria attività di
laboratorio, descrivendo indicativamente la composizione di ogni rifiuto. Per ogni componente consultare la Scheda di
Sicurezza aggiornata almeno al 2010 per ricavare le frasi di pericolo H(CLP) e al punto 14 le informazioni relative al
trasporto. Se è prevista l’applicazione della normativa ADR, indicare il numero ONU (del tipo UN XXXX), la classe di
pericolo e il gruppo di imballaggio (PG). Per compilare le voci in rosso consultare il RUL e/o NuTeR.
</div>

<%= render 'form' %>
