<h1>Rifiuti</h1>

<% if @user %>  
  <div class="centered">
    <h2>Produttore rifiuti: <%= @user %></h2>
  </div>
<% end %>

<div class="centered">
  <% if policy(current_organization).dispose? %>  
    <%= link_to 'NUOVO RIFIUTO', choose_disposal_type_disposals_path, class: 'button' %>  
  <% end %>
  <% if policy(current_organization).manage? %>  
    <%= link_to 'NUOVA TIPOLOGIA', new_disposal_type_path, class: 'button' %>  
  <% end %>
</div>

<div class="row">
  <% @disposals.each do |disposal| %>  
    <div class="col-md-6">
      <%= render disposal %>
    </div>
  <% end %>
</div>
