<h1>Contatti</h1>

<div class="p-4 alert alert-info" style="max-width: 800px; margin: auto">
  Per ogni tipo di commento, domanda o suggerimento riguardante l'applicativo AlmaRusco
  si prega di inviare una mail all'indirizzo
  <a href="mailto:dipmat-gemma@unibo.it">dipmat-gemma@unibo.it</a>.
</div>

