<h1>Ritiri</h1>

<div class="centered my-4">
  <%= link_to 'Nuovo Ritiro', new_picking_path, class: 'btn btn-primary' %>  
</div>

<% if @pickings.empty? %>  
  <p class="info info-warning">
  Non sono al momento programmati ritiri per al tua UL.
  </p>
<% else %>
  <div class="list-group">
    <% @pickings.each do |picking| %>  
      <%= render Picking::LineComponent.new(picking) %>  
    <% end %>
  </div>
<% end %>
