<h1>Ritiri</h1>

<div class="centered my-4">
  <%= link_to 'Nuovo Ritiro', new_picking_path, class: 'btn btn-primary' %>  
</div>

<div class="list-group">
  <% @pickings.each do |picking| %>  
      <%= link_to picking.supplier, [:edit, picking], class: 'list-group-item list-group-item-action' %>  
  <% end %>
</div>
