<h1>Schede omologhe</h1>

<div class="alert alert-info">
  La 'scheda omologa' descrive le tipologie di rifiuti che si intende conferire all’impianto; questo permette di attivare la cosiddetta 'procedura di omologa', 
  ossia la verifica di corrispondenza delle caratteristiche del rifiuto in accettazione all’impianto con quelle fornite in fase di programmazione del conferimento.<br/>
  Le schede omologhe saranno revisionate una volta all'anno.<br/>
  Schede omologhe di Ateneo disponibili al link:
  <a href="https://intranet.unibo.it/spaziict/web3/Pagine/GestioneRifiutiPericolosiProcedura.aspx">https://intranet.unibo.it/spaziict/web3/Pagine/GestioneRifiutiPericolosiProcedura.aspx</a>.
</div>

<% if policy(current_organization.compliances.new).create? %>  
  <div class="centered my-2">
    <%= link_to "Nuova omologa", new_compliance_path, class: "button" %>  
  </div>
<% end %>

<h2>OMOLGHE DI ATENEO</h2>
<div class="list-group">
  <% @common_compliances.each do |compliance| %>
    <div class="list-group-item">
      <%= render Compliance::ItemComponent.new(compliance, edit: policy(compliance).edit?) %>
    </div>
  <% end %>
</div>

<h2 class="mt-4 mb-2">Omologhe <%= current_organization %></h2>

<div class="list-group">
  <% @organization_compliances.each do |compliance| %>
    <div class="list-group-item">
      <%= render Compliance::ItemComponent.new(compliance, edit: policy(compliance).edit?) %>
    </div>
  <% end %>
</div>

