<h1>Gestione strutture</h1>

<div class="info">
  INFO
</div>

<table class="table table-sm">
  <% @organizations.each do |organization| %>
    <%= content_tag :tr do %>
      <th><%= organization.code.upcase %></th>
      <th><%= organization.id %></th>
      <td><%= link_to organization.description, current_organization_edit_path(__org__: organization.code) %></td>
      <td class="number" nowrap>
    <% end %>
  <% end %>
</table>

