<h1>Gestione strutture</h1>

<div class="info">
  INFO
</div>

<dl>
  <% @organizations.each do |organization| %>
    <%= content_tag :tr do %>
      <dt>
        <%= link_to organization.code.upcase, current_organization_edit_path(__org__: organization.code) %>
        <span class="text-sm font-light"><%= organization.name %></span>
      </dt>
      <% organization.permissions.each do |p| %>  
        <dd class="ml-4"><%= p %></dd>
      <% end %>
    <% end %>
  <% end %>
</dl>
