<h1><%= @lab %></h1>

<div class="centered">
  <%= link_to 'modifica', [:edit, @lab], class: 'btn btn-primary' %>  
</div>

<div class="row">
  <% @disposals.each do |disposal| %>  
    <div class="col-md-6">
      <%= render Disposal::ShowComponent.new(current_user, disposal) %>
    </div>
  <% end %>
</div>
