<%= render DmUniboCommon::ModalComponent.new() do %>
  <%= dm_card title: @lab do %>  
    <div class="row text-muted">
      <div class="col-md-6">
        <dl>
          <dt>Utenti</dt>
          <% @lab.disposals.joins(:producer).order("users.upn").group(:producer_id).each do |d| %>  
            <dd class="my-0 py-0"><%= d.producer.upn %></dd>
          <% end %>
        </dl>
      </div>
      <div class="col-md-6">
        <dl>
          <dt>CER</dt>
          <% @lab.disposals.joins(:disposal_type).group(:disposal_type_id).each do |d| %>  
            <dd class="my-0 py-0"><%= d.disposal_type %></dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>
<% end %>
