<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <hr style="margin: 6px"/>
    <p>
      Messaggio inviato dall'applicativo "AlmaRusco per la gestione dei rifiuti speciali".
    </p>
    <p>
      Non rispondere a questo messaggio.<br/>
      In caso di problemi contattare l'amministrazione della struttura.
    </p>
  </body>
</html>
